{% extends "layout.html" %}
{% block body %}
<body>
<div class="container-fluid">
	<h1>Add account</h1>
	<form method="post">
		<div class="form-group">
			<label for="account_name">Name:</label>
			<input type="string" name="account_name" class="form-control" id="account_name">
		</div>
		<div class="form-group">
			<label for="key">Key:</label>
			<input type="string" name="key" id="key" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<body>
{% endblock %}
