<!doctype html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<title>Flask demo</title>
</head>
<div class="container-fluid">
	{% with messages = get_flashed_messages(with_categories=true) %}
		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade show">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
<div class="container-fluid">
	<a href="{{ url_for('index') }}">Home</a> |
	{% if current_user.is_anonymous %}
	<a href="{{ url_for('login') }}">Login</a>
	{% else %}
	<a href="{{ url_for('logout') }}">Logout</a>
	{% endif %}
</div>
<!-- JavaScript libraries -->
<!-- jQuery, Popper, & Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.js"></script>
{% block body %}
{% endblock %}